homeassistant:
  name: Thuis
  latitude: !secret thuis_latitude
  longitude: !secret thuis_longitude
  elevation: 0
  unit_system: metric
  time_zone: Europe/Amsterdam
  customize: !include customize.yaml
  packages: !include_dir_named packages
  auth_providers:
    - type: homeassistant
  internal_url: !secret internal_url  
  external_url: !secret external_url 

sensor: !include sensors.yaml
# history: !include history.yaml

group:
  everyone:
    name: Everyone
    entities:
      - device_tracker.iphone_van_marleen
      - device_tracker.iphone_kees

system_health:
frontend:
config:
ios:
sonos:
  media_player:
    hosts:
      - 192.168.1.110
      - 192.168.1.108
      - 192.168.1.98
auth:
mobile_app:
media_source:
energy:

http:
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem

lovelace:
  mode: yaml
  resources:
    - url: /hacsfiles/banner-card/banner-card.js?v=1
      type: module
    - url: /hacsfiles/simple-thermostat/simple-thermostat.js?v=1
      type: module

# discovery:

recorder:
  db_url: !secret recorder_db_url
  auto_purge: 2
  purge_keep_days: 2
logbook:

logger:
  default: warn
  logs:
    homeassistant.components.mqtt: info
    homeassistant.components.shell_command: debug
    homeassistant.components.google_assistant: debug

sun:
  # - platform: local_file
  #   name: backyard_latest

# stream:

tts:
  - platform: google_translate
    language: "nl"
    # base_url: https://schollaartthuis.duckdns.org:8123
  - platform: microsoft
    api_key: !secret cogntive_services_api_key
    language: en-us
    gender: Female
    type: JessaRUS
    rate: 20
    volume: -50
    pitch: high
    contour: (0, 0) (100, 100)

cloud:

#mqtt:
  # broker: core-mosquitto
  # username: hassio
  # password: !secret mqtt
  # discovery: true
  # discovery_prefix: homeassistant
  # birth_message:
  #   topic: "hass/status"
  #   payload: "online"
  # will_message:
  #   payload: "offline"
  #   topic: "hass/status"

person:
  - name: Kees
    id: kees
    user_id: be842a06ec6844f1be650ba273e34a51
    device_trackers:
      - device_tracker.iphone_kees
  - name: Marleen
    id: marleen
    user_id: faf0f3e6fb334c01bdb00cd6926003e5
    device_trackers:
      - device_tracker.iphone_van_marleen

zone:
  - name: Thuis
    latitude: !secret thuis_latitude
    longitude: !secret thuis_longitude
    radius: 100
    icon: mdi:account-multiple

  - name: School
    latitude: !secret school_latitude
    longitude: !secret school_longitude
    radius: 100
    icon: mdi:school

notify:
  - name: phones_kees_marleen
    platform: group
    services:
      - service: mobile_app_iphone_kees
      - service: mobile_app_iphone_van_marleen_2

amcrest:
  - host: 192.168.1.191
    username: admin
    password: !secret doorbell_password
    binary_sensors: 

# samsungtv:
#   - host: samsung.localdomain

# tuya:
#   username: !secret TuyaUsername
#   password: !secret TuyaPassword
#   country_code: 31
#   platform: smart_life

shell_command:
  install_imagemagick: "apk add --update imagemagick"
  clean_up: /config/shell_commands/clean-up.sh
